.result{
    margin: 0 140px;
}
.result-list{
    list-style: none;
}
.result-tr{
    padding: 10px;
}
.result-th{
    height: 50px;
    padding: 10px;
    color: white;
}
.result-tr-th{
    background: rgb(89, 89, 89);
}
.result-td{
    padding: 10px;
    vertical-align: top;
}
.details-btn{
    background-color: rgb(227, 132, 24);
    border:none;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    padding: 0 30px;
}
.details-btn:hover{
    background-color:  rgb(191, 109, 16);;
}